<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>apply</title>
   </head>
<body>
{% extends "base.html" %}
{% block body %}
<h1> Insert Details </h1>
<form action="/apply" method="post" enctype="multipart/form-data">
    <label for="accountnumber">Account Number :</label><br>
  <input type="text" id="accountnumber" name="accountnumber" required><br>
  <label for="fname">Full Name :</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="mnumber">mobile number :</label><br>
  <input type="text" id="mnumber" name="mnumber"><br>
    <label for="email"> eMail id :</label><br>
  <input type="email" id="email" name="email"><br>
    <label for="massage">Massage :</label><br>
  <input type="text" id="massage" name="massage"><br>
    <label for="date">Date :</label><br>
  <input type="date" id="date" name="date"><br>
    <label for="img">Img :</label><br>
    <input type="file" name="img">
  <!--<input type="file" id="img" name="img">-->
    <br><br>
  <input type="submit" value="Submit">
</form>

{% endblock %}

</body>
</html>