<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
{% extends "base.html" %}
{% block body %}

<h1>edit online appointment table </h1>

<h1> Insert Details </h1>
<form action="/edit/{{account_number}}" method="post" novalidate>
    <label for="accountnumber">Account Number :</label><br>
  <input type="text" id="accountnumber" name="accountnumber"  value="{{post.account_number}}"><br>
  <label for="fname">Full Name :</label><br>
  <input type="text" id="fname" name="fname" value="{{post.full_name}}"><br>
  <label for="mnumber">mobile number :</label><br>
  <input type="text" id="mnumber" name="mnumber" value="{{post.mobile_number}}"><br>
  <label for="email"> eMail id :</label><br>
  <input type="email" id="email" name="email" value="{{post.email}}"><br>
    <label for="massage">Massage :</label><br>
  <input type="text" id="massage" name="massage" value="{{post.massage}}"><br>
    <label for="date">Date :</label><br>
  <input type="date" id="date" name="date" value="{{post.date}}"><br>
    <label for="img">Img :</label><br>
  <input type="file" id="img" name="img" value="{{post.img}}">
    <br><br>
  <input type="submit" value="Conform Edit">
</form>
{% endblock %}
</body>
</html>
